.excel-preview {
    width: 90vw;
    height: calc(90vh - 120px);

    overflow: hidden;

    background: white;

    border-radius: 8px;
}

.excel-preview-state {
    width: 90vw;
    height: calc(90vh - 120px);

    display: flex;

    align-items: center;
    justify-content: center;

    color: white;

    font-size: 16px;
}